*bin
*obj
/Implementation/Program.cs
/.vs/algorithms-analysis/FileContentIndex
/.vs/algorithms-analysis/CopilotIndices/17.14.1431.25910
/.vs/algorithms-analysis/v17
/.vs/algorithms-analysis/DesignTimeBuild/.dtbcache.v2
